{% extends 'index.html' %}
{% load static %}

{% block titulo %}
  {{ detailview.titulo }}
{% endblock titulo %}

{% block imagen %}
  {{ detailview.imagen }}
{% endblock imagen %}

{% block titulo_principal %}
   <h1>{{ detailview.titulo }}</h1>
   <p>{{ detailview.descripcion }}</p>
   <p class="post-meta"> <strong> {{ detailview.autor }} </strong> </p>
{% endblock titulo_principal %}

{% block barra_busqueda %}
{% endblock barra_busqueda %}

{% block contenido %}
  {{ detailview.contenido | safe }}
{% endblock contenido %}
